.textHero{
  font-family: "Chillax";
  text-align: center;
  font-size: 4em;
  z-index: 9999;
}

h1{
  z-index: 999;
}

.unic{
  color: #4A3AFF;
}

.navBar{
  list-style: none;
  flex-direction: row;
}

ul{
  display: flex;
  flex-direction: row;
  
}


p{
  font-size: 7em;
}

.heroBanner{
  z-index: 0;
  margin-top: -10em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90vw;
}

